.container-header {
  height: 80px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #22252c;
}

.title-header {
  color: #fff;
  cursor: pointer;
}
