.container-button {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2968c8;
  cursor: pointer;
  border-radius: 5px;
  margin: 40px 0 0 0;
}

.container-button:hover {
  background: #2968c850;
}

.text-button {
  font-size: 20px;
  color: #fff;
}
